#perfil, .btn, .uno, .dos, .caja{z-index: 5; position: absolute;}
#perfil{height: 55px; width: 55px; border-radius: 100%; left: 3%; top: 2%; border: 2px solid #bebcb6;}
/*#logo{top: 1px; left: 300px;}*/

#map{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
h2{position: relative; z-index: 5; text-align: center; color: white; text-shadow: -2px -2px 2px #bebcb6, 2px -2px 2px #bebcb6, -2px 2px 2px #bebcb6, 2px 2px 2px #bebcb6; font-size: 40px;}
.uno, .dos{padding: 10px 13px; border-radius: 100%; border: 2px solid #bebcb6; background: white; font-size: 25px; top: 40%;}
.uno{left: 3%;}
.dos{right: 3%;}
.caja{padding: 15px; border-radius: 10px; border: 2px solid #bebcb6; background: white; font-size: 25px; bottom: 15%; width: 98%; margin: 1%;}