#icono, #perfil, .submit, .white{z-index: 5; position: absolute;}
#perfil{height: 55px; width: 55px; border-radius: 100%; left: 3%; top: 2%; border: 2px solid #bebcb6;}
/*#logo{top: 1px; left: 300px;}*/
#icono{top: 2%; right: 3%; padding: 10px 13px; border-radius: 100%; border: 2px solid #bebcb6; background: white; font-size: 28px;}
.submit{bottom: 0.5%; width: 98%; margin: 1%; height: 10%; text-align: center; background: #371b83; font-size: 40px; border-radius: 10px; color: white;}
#map{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
h2{position: relative; z-index: 5; text-align: center; color: white; text-shadow: -2px -2px 2px #bebcb6, 2px -2px 2px #bebcb6, -2px 2px 2px #bebcb6, 2px 2px 2px #bebcb6; font-size: 40px;}
.white{width: 98%; margin: 1%; bottom: 12%; background: white; border-radius: 10px; border: 2px solid #bebcb6; font-size: 16px; height: 10%;}
.icon-down{font-size: 20px; background: white; border: 2px solid black; border-radius: 100%; float: right; margin: 10px; padding: 5px;}
ul p{display: inline-block; font-size: 17px; margin: 10px; text-align: center; float: right;}
ul span{font-size: 40px; margin: 10px;}
ul h4{display: inline-block; margin: 20px;}
li:hover{color: #4800b8; background: #f3f3f5;}