#icono, #perfil, .btn{z-index: 5; position: absolute;}
#perfil{height: 55px; width: 55px; border-radius: 100%; left: 3%; top: 2%; border: 2px solid #bebcb6;}
/*#logo{top: 1px; left: 300px;}*/
#icono{top: 2%; right: 3%; padding: 10px 13px; border-radius: 100%; border: 2px solid #bebcb6; background: white; font-size: 30px;}
.btn{width: 98%; margin: 1%; height: 70px; bottom: 1%;}
.btn-primary{background: #3d0981; border: 1px solid #3d0981; font-size: 30px; color: white;}
.btn-primary:hover{background: rgba(61, 9, 129, 0.88); border: 1px solid #3d0981;}
#map{position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
h2{position: relative; z-index: 5; text-align: center; color: white; text-shadow: -2px -2px 2px #bebcb6, 2px -2px 2px #bebcb6, -2px 2px 2px #bebcb6, 2px 2px 2px #bebcb6; font-size: 40px;}