*{box-sizing: border-box; background: url(../images/fondo.jpg) no-repeat center; background-size: cover; background-attachment: fixed; }
.deg1{background: linear-gradient(black, rgba(255, 255, 255, 0.02)); height: 100px;}
h1{text-align: center; font-family: monospace; color: white; font-size: 80px;}
.btn1, .btn2{margin: auto; width:90%; color: white; border: 3px solid white; text-align: center; padding: 5%; border-radius: 10px; font-size: 25px; }
.btn1:hover{border: 1px solid blue; background: linear-gradient(to right, rgba(184, 11, 140, 0.4) 10% ,rgba(184,11,140,0.4) 40%,rgba(255,0,166,0.7) 70%, rgb(255,0,166) 100%  ); 
filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); clear: both;}
.btn2:hover{border: 1px solid blue; background: #c800bf; background: linear-gradient(to right, rgba(184, 11, 140, 0.49) 10% ,rgba(184,11,140,0.4) 40%,rgba(255,0,166,0.7) 70%, rgb(255,0,166) 100%  ); 
filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#00000000', endColorstr='#e8000000',GradientType=0 ); clear: both;}
.fila2{width: 100%; position: absolute; bottom: 30px;}
a{list-style: none;}